.sticky {
  /* overflow-x: clip; */
  animation: linear slideIn both;
  animation-timeline: view();
  animation-range: exit 50% 100%;

  /* animation: linear fade-in both;
  animation-timeline: view();
  animation-range-start: 0%;
  animation-range-end: 25%;
  transform-style: preserve-3d; */

  /* animation: scaleIn both linear;
  animation-timeline: view();
  animation-range-start: 0%;
  animation-range-end: 25%; */
}

@keyframes scaleIn {
  0% {
    transform: scale(0.85);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    opacity: 1;
    transform: translateZ(0) translateY(0) scale(1, 1);
  }
  to {
    opacity: 0;
    transform: translateZ(0) translateY(250px) scale(1, 1);
  }
}

@keyframes fade-in {
  from {
    scale: 0.9;
    opacity: 0;
    transform: translateY(20px) perspective(200px) rotateX(-15deg);
  }

  to {
    scale: 1;
    opacity: 1;
    transform: translateY(0) perspective(400px) rotateX(0deg);
  }
}
