@tailwind base;
@tailwind components;
@tailwind utilities;

html,
input {
  font-family: var(--font-atkinson);
  /* font-weight: 400; */
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: var(--font-nunito);
}

p,
span {
  text-wrap: pretty;
}
body {
  color: rgb(var(--foreground-rgb));
  -webkit-font-smoothing: antialiased;
  min-height: 100dvh;
}

.animation-sticky {
  /* only for mobile */
  @media (min-width: 768px) {
    animation: linear slideOut forwards;
    animation-timeline: view();
    animation-range: exit 60% 100%;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateZ(0) translateY(0) scale(1, 1);
  }
  to {
    opacity: 0;
    transform: translateZ(0) translateY(20%) scale(1, 1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
