.pulsebutton {
  background-color: hsl(var(--nextui-primary-800));
  position: relative;
  z-index: 0;
  box-shadow: 0 0 0 2px hsl(var(--nextui-secondary-500)),
    inset 0 0 5px 2px hsl(var(--nextui-secondary-800) / 0.8),
    0 0 4px 2px hsl(var(--nextui-secondary-500) / 0.33);
  cursor: pointer;
  transform: translateZ(0) scale(1, 1);
}

.pulsebutton:hover {
  box-shadow: 0 0 0 2px hsl(var(--nextui-secondary-500)),
    inset 0 0 5px 2px hsl(var(--nextui-secondary-800) / 0.8),
    0 0 4px 2px hsl(var(--nextui-secondary-500) / 1);
}

.pulsebutton:focus:active {
  box-shadow: 0 0 0 2px hsl(var(--nextui-secondary-500)),
    inset 0 0 5px 2px hsl(var(--nextui-primary-900) / 0.8),
    0 0 4px 2px hsl(var(--nextui-secondary-500) / 0.45);
}
